{% extends 'base.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'cart.css' %}">
{% endblock %}

{% block title %} Deliveries {% endblock %}

{% block content %}
<div class="container mt-3">
<div class="cart_section">
    {% if request.user.is_authenticated %}
        {% if products|length == 0  %}
        <h5 class="alert-heading col-lg-10"> There are no deliveries</h5>
        {% else %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cart_container">
                        <div class="cart_items">
                            <br>
                            {% for product in products %}
                            <ul class="cart_list">
                                <li class="cart_item clearfix">
                                    <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                        <div class="cart_item_name cart_info_col">
                                            <div class="cart_item_title">Name</div>
                                            <div class="cart_item_text">{{product.name}}</div>
                                        </div>
                                        <div class="cart_item_name cart_info_col">
                                            <div class="cart_item_title">User</div>
                                            <div class="cart_item_text">{{user}}</div>
                                        </div>
                                        <div class="cart_item_quantity cart_info_col">
                                            <div class="cart_item_title">Quantity</div>
                                            <div class="cart_item_text">{{product.quantity}}</div>
                                        </div>
                                        {% if product.purchased_price == 0 %}
                                        <div class="cart_item_price cart_info_col">
                                            <div class="cart_item_title">Price</div>
                                            <div class="cart_item_text">{{product.price}} TL</div>
                                        </div>
                                        {% else %}
                                        <div class="cart_item_price cart_info_col">
                                            <div class="cart_item_title">Price</div>
                                            <div class="cart_item_text">{{product.purchased_price}} TL</div>
                                        </div>
                                        {% endif %} 
                                        <div class="cart_item_total cart_info_col">
                                            <div class="cart_item_title">Model</div>
                                            <div class="cart_item_text">{{product.model}}</div>
                                        </div>
                                        <div class="cart_item_total cart_info_col">
                                            <div class="cart_item_title">Warranty Status</div>
                                            <div class="cart_item_text">{{product.warranty_status}}</div>
                                        </div>
                                        <div class="cart_item_total cart_info_col">
                                            <div class="cart_item_title">Distributor Info</div>
                                            <div class="cart_item_text">{{product.distributor_info}}</div>
                                        </div>
                                        <div class="cart_item_total cart_info_col">
                                            <div class="cart_item_title">Status</div>
                                            <div class="cart_item_text">{{product.order_process_status}}</div>
                                        </div>
                                        
                                        <form method="post" class="justify-content-center" action="{% url 'delivery' %}">
                                            {% csrf_token %}
                                            <input type="hidden" name="command" value="delete">
                                            <input type="hidden" name="product_id" value="{{product.ID}}">
                                            <button class="btn btn-danger" type="submit">Cancel</button>
                                        </form>

                                    </div>
                                </li>
                            </ul>
                            <br>
                            <br>
                            <br>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% else %}
    <h5 class="alert-heading col-lg-10"> You are not logged in</h5>
    <h5 class="alert-heading col-lg-10">Please log in to see your deliveries.</h5>
    {% endif %}
</div>
</div>
{% endblock %}